[submodule "bundle/python-mode"]
	path = bundle/python-mode
	url = git://github.com/klen/python-mode.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/rest"]
	path = bundle/rest
	url = https://github.com/Rykka/riv.vim.git
[submodule "bundle/indent-guides"]
	path = bundle/indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "bundle/airline"]
	path = bundle/airline
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/startify"]
	path = bundle/startify
	url = https://github.com/mhinz/vim-startify.git
[submodule "bundle/signify"]
	path = bundle/signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "bundle/luna"]
	path = bundle/luna
	url = https://github.com/Pychimp/vim-luna.git
[submodule "bundle/sol"]
	path = bundle/sol
	url = https://github.com/Pychimp/vim-sol.git
[submodule "bundle/vim-over"]
	path = bundle/vim-over
	url = https://github.com/osyo-manga/vim-over.git
[submodule "bundle/vinegar"]
	path = bundle/vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule "bundle/redl"]
	path = bundle/redl
	url = git://github.com/dgrnbrg/vim-redl.git
[submodule "bundle/fireplace"]
	path = bundle/fireplace
	url = git://github.com/tpope/vim-fireplace.git
[submodule "bundle/classpath"]
	path = bundle/classpath
	url = https://github.com/tpope/vim-classpath.git
[submodule "bundle/rainbow_parentheses"]
	path = bundle/rainbow_parentheses
	url = https://github.com/kien/rainbow_parentheses.vim.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "bundle/clojure-static"]
	path = bundle/clojure-static
	url = https://github.com/guns/vim-clojure-static.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "ctrlp"]
	path = ctrlp
	url = git://github.com/ctrlpvim/ctrlp.vim.git
