[submodule "bundle/indent-guides"]
	path = bundle/indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "bundle/signify"]
	path = bundle/signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = git://github.com/ctrlpvim/ctrlp.vim.git
[submodule "bundle/luna"]
	path = bundle/luna
	url = https://github.com/notpratheek/vim-luna.git
[submodule "bundle/sol"]
	path = bundle/sol
	url = https://github.com/notpratheek/vim-sol.git
