[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/indent-guides"]
	path = bundle/indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "bundle/startify"]
	path = bundle/startify
	url = https://github.com/mhinz/vim-startify.git
[submodule "bundle/signify"]
	path = bundle/signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "bundle/vim-over"]
	path = bundle/vim-over
	url = https://github.com/osyo-manga/vim-over.git
[submodule "bundle/vinegar"]
	path = bundle/vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = git://github.com/ctrlpvim/ctrlp.vim.git
[submodule "bundle/luna"]
	path = bundle/luna
	url = https://github.com/notpratheek/vim-luna.git
[submodule "bundle/sol"]
	path = bundle/sol
	url = https://github.com/notpratheek/vim-sol.git
[submodule "bundle/sparkup"]
	path = bundle/sparkup
	url = https://github.com/rstacruz/sparkup.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
